*
{
    font-family: "Arial";
}

header
{
    color: #4c74a1;
    margin-left: 20px;
    height: 20%;
}
nav
{
    background-color: #4c74a1;
    bottom: 200;
    margin-left: auto;
}
p, h1
{
    color: #4c74a1;
}
h2
{
    text-align: center;
    color: #4c74a1;
    font-size: 2em;
}

form
{
    line-height:40px;
    margin-left: 70px;
}
label
{
    display: block;
    width: 300px;
    float: left;
    color: #4c74a1;
}
nav ul
{
    display: table;
    width: auto;
    margin: 10px auto;
    padding: auto;
}
nav ul li
{
    display: table-cell;
}
#navigation a
{
    color: white;
    text-decoration: none;
}
nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}

.button
{
    text-align: center;
}
.flotteG
{
    float: left;
}
.flotteD
{
    float: right;
}

.section_inscription
{
    display: flex;
    justify-content: space-around;
}
.piece
{
    border: 1px white groove;
    color: white;
    display: flex;
    flex-direction: column;
    width: 10em;
    padding: 1.2em;
}
.pieces{
    text-align: center;
}
.image
{

    width: auto;
    height: 20em;
}
aside
{
    margin-block-end:  auto;
}
.section1
{
    display: flex;
    background-color: #406694;
    color: white;
    flex: space-between;

}
.section1, .section2{
    height: 20em;
}
.section1 p, .section2 p
{
    color: white;
}
.article1
{
    text-align: center;
    width: 75%;
}
.section2
{
    background-color: #597EAA;
    color:white;
    display: flex;
    flex: space-between;

}

.section_ma_maison
{
    background-image: url("fleur_fond.jpg"); /* image de fond fixe pour l'instant, personna*/
    background-repeat: no-repeat;
    background-size: 100%;
}

.rectangle_showpiece{
    background-color: #406694;
    width : 20%;
}
.rectangle_showpage{
    background-color: #7192bb;
    width : 48%;
}
.rectangle_showtool{
    background-color: #597eaa;
    width : 30%;
}
.rectangle_showpiece,
.rectangle_showpage,
.rectangle_showtool{
    border-top: solid white 10px;
    display: inline-block;
    height : 600px;
}
.rectangle_annonce{
    display: flex;
    border: 2px solide;
    border-color: whitesmoke;
    width : 100%;
    height : 100px;
    text-align: center;
    background-color: #256da0;
}
.rectangle_showpiece p,
.rectangle_showpage p,
.rectangle_showtool p
{
    text-align: center;
    font-size: 1.5em;
    color: lightsteelblue;
}
.rectangle_flex{
    display : flex;
    justify-content: space-around;
    margin-bottom: 1%;
}
.rectangle_showpiece ul,
.rectangle_showtool ul{
    margin-top: 20%;
    display: table;
    width: auto;
    padding: auto;
    list-style:none;
}
.rectangle_showpiece ul li a{
    display: flex;
    text-decoration: none;
    margin-bottom: 25%;
}
.rectangle_showpiece a {
    color: white;
    text-decoration: none;
}
.rectangle_showtool ul li p{
    display: flex;
    text-decoration: none;
    color: white;
    text-decoration: none;
}

.rectangle_annonce p{
    text-align: center;
    color: white;
    font-size: 3em;
    margin:auto;
}
.code_page{
    display : flex;
    border: 2px solide;
    border-color: whitesmoke;
    width : 80%;
    height : 80%;
    text-align: center;
    background-color: white;
    margin:auto;
}
.code_page p{
    margin: 10%;
    color:black;
}
.titre_page{
    width: 100%;
    height: 100px;
    line-height: 70px;
}
.rectangle_showban1{
    width:50%;
    background-color: #406694;
    color: white;
    text-align: center;
}
.rectangle_showban2{
    width:50%;
    background-color: #597eaa;

}
.rectangle_showban1,.rectangle_showban2{
    border-top: solid white 10px;
    display: inline-block;
    height: 300px;
}

.rectangle_showban12{
    display : flex;
    border: 2px solide;
    border-color: whitesmoke;
    width : 70%;
    height : 50%;
    text-align: center;
    background-color: white;
    margin:auto;
}

.rectangle_showban1 p
{
    color:white;
    margin-top: 50px;
}
.rectangle_showban2 p
{
    margin-left: 120px;
    color:white;
    margin-top: 30px;
}
.rectangle_showban2 p label{
    color:white;
}
