*
{
	font-family: "Arial";
}

header
{
	color: #4c74a1;
	margin-left: 20px;
	height: 20%;
}
nav
{
	background-color: #4c74a1;
	bottom: 200;
	margin-left: auto;
}
p, h1
{
  color: #4c74a1;
}
h2
{
	text-align: center;
	color: #4c74a1;
	font-size: 2em;
}

form
{
	line-height:40px;
	margin-left: 70px;
}
label
{
	display: block;
	width: 300px;
	float: left;
	color: #4c74a1;
}
ul
{
	display: table;
	width: auto;
	margin: 10px auto;
	padding: auto;

}
ul li
{
	display: table-cell;
}
#navigation a 
{
	color: white;
	text-decoration: none;
}
ul li a{
    display: block;
    text-align: center; 
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}

.button
{
	text-align: center;
}
.flotteG
{
	float: left;
}
.flotteD
{
	float: right;
}

.section_inscription
{
	display: flex;
    justify-content: space-around;
}
.piece
{
	border: 1px white groove;
	color: white;
	display: flex;
	flex-direction: column;
	width: 10em;
  	padding: 1.2em;
}
.pieces{
  text-align: center;
}
.section1
{
	background-color: #406694;
	color: white;

}
.section2
{
	background-color: #597EAA;
	color:white;

}
.image
{
	max-width: 100%;
}
.section_ma_maison
{
    background-image: url("fleur_fond.jpg"); /* image de fond fixe pour l'instant, personna*/
    background-repeat: no-repeat;
	background-size: 100%;
}
/*class de la place gestion */
.aside_gestion
{
  background-color: #256da0;
}
.aside_gestion p ,h1
{
  color:white;
  text-align: center;
}
.section_gestion
{
  display:flex;
  justify-content:flex-start;
}
.section_gestion:nth-child(2)
{
  flex:1;
}
hr
{
   border: 0; 
   height: 2px;
   color:white; 
   background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255,255, 0.75), rgba(255, 255, 255, 0));
}
