*
{
    font-family: "Arial";
}

header
{
    color: #4c74a1;
    margin-left: 70px;
}
nav
{
    background-color: #4c74a1;
    bottom: 200;
    width: 100%;
    margin-left: 0px;
}
p, h1
{
    color: #4c74a1;
}
h2
{
    text-align: center;
    color: #4c74a1;
}

form
{
    line-height:40px;
    margin-left: 70px;
}
label
{
    display: block;
    width: 300px;
    float: left;
    color: #4c74a1;
}
ul
{
    display: table;
    width: 100%;
    margin: 10px auto;
    padding: auto;

}
ul li
{
    display: table-cell;


}
#navigation a
{
    color: white;
    text-decoration: none;
}
ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 17px 8px 17px 8px;
}

.button
{
    text-align: center;
}

section
{
    display: flex;
    justify-content: space-around;
}

aside
{
    padding: 100px;
}