*
{
    font-family: "Arial";
}
body{
    margin:auto;
    padding: auto;
}
header
{
    color: #4c74a1;
    margin-left: 20px;
    height: 20%;
}
nav
{
    background-color: #4c74a1;
    justify-content: space-around;
    margin-left: auto;

}
p, h1
{
    color: #4c74a1;
}
h2
{
    text-align: center;
    color: #4c74a1;
    font-size: 2em;
}

form
{
    line-height:40px;
    margin-left: 70px;
}
label
{
    display: block;
    width: 300px;
    float: left;
    color: #4c74a1;
}
nav ul
{
    display: table;
    margin: 0px auto;
    width: auto;
    padding: auto;
}
nav ul li
{
    display: table-cell;

}
#navigation a
{
    color: white;
    text-decoration: none;
}
nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em 1em 2em;

}

.button
{
    text-align: center;
}
.flotteG
{
    float: left;
}
.flotteD
{
    float: right;
}

.section_inscription
{
    display: flex;
    justify-content: space-around;
}
.piece
{
    border: 1px white groove;
    color: white;
    display: flex;
    flex-direction: column;
    width: 10em;
    padding: 1.2em;
}
.pieces{
    text-align: center;
}
.image
{

    width: auto;
    height: 20em;
}
aside
{
    margin-block-end:  auto;
}
.section1
{
    display: flex;
    background-color: #406694;
    color: white;
    flex: space-between;

}
.section1, .section2{
    height: 20em;
}
.section1 p, .section2 p
{
    color: white;
}
.article1
{
    text-align: center;
    width: 75%;
}
.section2
{
    background-color: #597EAA;
    color:white;
    display: flex;
    flex: space-between;

}

.section_ma_maison
{
    background-image: url("fleur_fond.jpg"); /* image de fond fixe pour l'instant, personna*/
    background-repeat: no-repeat;
    background-size: 100%;
}

.modif_admin{
    background-color: #7192bb;
    width : 50%;
    height : 100%;
    margin: 0;
    transition: width 1000ms , visibility 500ms;
}

.consult_admin{
    background-color: #406694;
    width : 50%;
    height : 100%;
    margin: 0;
    transition: width 1000ms , visibility 1000ms;
}

.consult_admin p{
    visibility : visible;
}

.rectangle_flex_acc {
    display: flex;
    justify-content: space-around;
    height: 500px;
    width : 100%;
    margin:0;
    transition: width 1000ms , visibility 1000ms;
}

.rectangle_flex_consult{
    display: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    transition: width 500ms, visibility 500ms;

}
.rectangle_flex_modif{
    display: none;
    justify-content: space-around;
    height: 100%;
    margin:0;
    padding:0;
    width : 100%;
    transition: width 500ms , visibility 500ms;

}
.rectangle_flex_encadre{
    display: flex;
    justify-content: space-around;
    height: 500px;
    margin:0;
    padding: 0;
    width:100%;
}

.list_page{
    background-color: #406694;
    display: flex;
    height: 100%;
    width: 15%;
}
.page_code{
    display: flex;
    height:100%;
    width: 85%;
}

#html_code {
    display: flex;
    margin: auto;
    height:80%;
    width:80%;
    background-color: #dee7ff;
    color: white;
    font-size: 20px;

}
.store_text {
    display: flex;
    height:100%;
    width:100%;
}
.store_text input{
    height:10%;
    width: 20%;
}

