<<<<<<< HEAD
*
{
    font-family: "Arial";
}

body{
    margin:auto;
    padding:auto;
}

header
{
    color: #4c74a1;
    margin-left: 20px;
    height: 20%;
}

p, h1
{
    color: #4c74a1;
}

h2
{
    text-align: center;
    color: #4c74a1;
    font-size: 2em;
}

form
{
    line-height:40px;
    margin-left: 70px;
}

label
{
    display: block;
    width: 300px;
    float: left;
    color: #4c74a1;
}

aside
{
    margin-block-end:  auto;
}

nav
{
    background-color: #4c74a1;
    bottom: 200;
    margin-left: auto;
}

nav ul
{
    display: table;
    width: auto;
    margin: 10px auto;
    padding: auto;
}

nav ul li
{
    display: table-cell;
}

nav ul li a
{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}

label
{
    display: block;
    width: 300px;
    float: left;
    color: #4c74a1;
}
ul
{
    display: table;
    width: auto;
    margin: 10px auto;
    padding: auto;
}

ul li
{
    display: table-cell;
}

ul li a
{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1em 2em 1em 2em;
}

/*Annonce*/
.rectangle_annonce
{
    display: flex;
    border: 2px solide;
    border-color: whitesmoke;
    width : 100%;
    height : 100px;
    text-align: center;
    background-color: #256da0;
}

.rectangle_annonce p
{
    text-align: center;
    color: white;
    font-size: 3em;
    margin:auto;
}

/*Gestion Capteurs*/
/*ALL*/
.gestion_capt{
    display : flex;
    justify-content: space-around;
    margin-bottom: 1%;
}

.showpiece,
.showgeneral,
.showcapt
{
    border-top: solid white 10px;
    height : 600px;
}

.showpiece p,
.showgeneral p,
.showcapt p
{
    text-align: center;
    font-size: 1.5em;
    color: lightsteelblue;
}

.showpiece,
.showcapt
{
    background-color: #406694;
    width : 20%;
}

/*SHOWPIECE*/

.listepiece li{
    display: list-item;
    text-decoration: none;
    margin-bottom: 25%;
    color: White;
}

/*SHOWCAPT*/

.listecapt ul {
    margin-top: 20%;
    display: table;
    width: auto;
    padding: auto;
    list-style:none;
}

.listecapt li{
    display: list-item;
    text-decoration: none;
    color: white;
    margin-bottom: 25%:
    list-style-type: none;
}



/*AJOUTCAPT*/
.ajout_capt p {
    text-align: center;
    font-size: 1em;
    color: lightsteelblue;
}

/*SHOWGENERAL*/
.showgeneral
{
    background-color: #7192bb;
    width : 60%;
}




.code_page p
{
    margin: 10%;
    color:black;
}

.code_page h3
{
    margin: 10%;
    color: black;
}

.titre_page{
    width: 100%;
    height: 100px;
    line-height: 70px;
}
=======
*
{
	font-family: "Arial";
}

/*Navigation*/
#navigation a
{
    color: white;
    text-decoration: none;
}
.navigation a
{
	color: white;
	text-decoration: none;
}

.button
{
	text-align: center;
}
.flotteG
{
	float: left;
}
.flotteD
{
	float: right;
}

.section_inscription
{
	display: flex;
    justify-content: space-around;
}
.piece
{
	border: 1px white groove;
	color: white;
	display: flex;
	flex-direction: column;
	width: 10em;
  	padding: 1.2em;
}
.pieces{
  text-align: center;
}
.image
{

	width: auto;
	height: 20em;
}

/* style page d'acceuil*/
.section1
{
	display: flex;
	background-color: #406694;
	color: white;
	flex: space-between;

}
.section1, .section2{
	height: 20em;
}
.section1 p, .section2 p
{
	color: white;
}
.article1
{
	text-align: center;
	width: 75%;
}
.section2
{
	background-color: #597EAA;
	color:white;
	display: flex;
	flex: space-between;
}
.contact_c p 
{
	color: black;
	font-size: 20px;
	font-weight: normal;
}
.contact_c h2
{
	color: black;
}

/*css d'une autre page */
.section_ma_maison
{
    background-image: url("fleur_fond.jpg"); /* image de fond fixe pour l'instant, personna*/
    background-repeat: no-repeat;
	background-size: 100%;
}

.navbandeau
{
	background-color: #4c74a1; 		/*bleu stylé*/
    display: flex; 					/*propriété flex*/
    justify-content: space-around;
    flex-wrap: nowrap;
}



.abandeau
{
	color: white;				/*les liens du bandeau en gras, non-souligné, et blanc*/
	text-decoration:none;
    font-weight: bold;
}


.libandeau
{ 
	display : inline;
	padding : 0 2em; /* Pour espacer les boutons entre eux */
	text-align: center;
}

.sectionactions
{
  text-align: center;
}

.sectionactions li
{
	border: 1px #4c74a1 groove;
	color: #4c74a1;
	display: flex;
	flex-direction: column;
	width: 10em;
  	padding: 1.2em;
  	font-weight: bold;
}


.sectionpieces
{
	border: 2px #4c74a1 groove;
	width: 18em;
	height: 26em;
	text-align: center;
}


.sectionpieces li
{
	border-bottom: 1px #4c74a1 groove;
	color: #4c74a1;
	display: flex;
	flex-direction: column;
	width: 7em;
  	padding: 1.2em;
  	font-weight: bold;
} 

.sectioncapteurs
{
	border: 2px #4c74a1 groove;
	width: 24em;
	height: 26em;
	text-align: center;
}

.sectioncapteurs li
{
	border-bottom: 1px #4c74a1 groove;
	color: #4c74a1;
	display: flex;
	flex-direction: column;
	width: 10em;
  	padding: 1.2em;
  	font-weight: bold;
}
>>>>>>> master
